/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input:focus {
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.hello {
  width: 100%;
  height: 20vh;
  background-color: rgba(0, 0, 0, 0.3);
}

.hello h1 {
  margin: 0;
  padding: 10px;
  font-size: 25px;
  font-weight: 800;
  text-align: center;
  color: white;
}

.hello h2 {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
  color: white;
}

nav {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 80vh;
}

nav .container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.list {
  align-self: center;
  text-align: center;
  padding: 35px 0;
  margin: 10px 0;
  width: 30%;
  height: 20%;
  background-color: white;
  border-radius: 50px;
}

a {
  font-size: 1.4em;
  font-weight: 600;
}

.main_container {
  padding-top: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
}
.main_top,
.main_language {
  width: 100%;
  height: 15vh;
}

.main_top h3,
.main_language h3,
.main_explain h3,
.main_photo h3,
.main_link h3 {
  font-size: 30px;
  font-weight: 800;
  text-align: center;
  margin: 10px 0;
}

.main_top P,
.main_language p,
.main_explain p,
.main_link p {
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  margin: 10px 0;
}
.main_explain {
  display: flex;
  flex-direction: column;
}
.main_explain p {
  align-self: center;
  width: 80%;
}
.main_photo {
  display: flex;
  flex-direction: column;
}
img {
  align-self: center;
  margin-top: 25px;
}
.kakao img {
  align-self: center;
  width: 400px;
  height: 500px;
  margin-top: 25px;
}

.main_link {
  display: flex;
  flex-direction: column;
}
.main_link a {
  font-size: 15px;
  font-weight: 600;
  text-align: center;
}
